We will use two standard python libraries to read the data files.

* [`numpy`](https://numpy.org): 'The fundamental package for scientific computing with Python'
* [`pandas`](https://pandas.pydata.org/docs/index.html): A 'library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.' Its central object is the `DataFrame` which you can find info on [here](https://pandas.pydata.org/docs/reference/frame.html).

In [1]:
import pandas as pd
import numpy as np

The supernova data contains metadata in its header. You should have a look at this in the raw data file. Unfortunately it's not in machine readable form. We can skip this info using `numpy.genfromtxt`

In [2]:
dtype = {
    'names': ['name', 'z', 'mb', 'e_mb', 'x1', 'e_x1', 'c', 'e_c'],
    'formats': ['U10'] + ['<f8']*7
}

arr = np.genfromtxt('exercise3_supernova_data.dat', skip_header=49, dtype=dtype)
supernova_data = pd.DataFrame(arr)
supernova_data

         name      z      mb   e_mb     x1   e_x1      c    e_c
0      03D1au  0.503  23.002  0.088  1.273  0.150 -0.012  0.030
1      03D1aw  0.581  23.574  0.090  0.974  0.274 -0.025  0.037
2      03D1ax  0.495  22.960  0.088 -0.729  0.102 -0.100  0.030
3      03D1bp  0.346  22.398  0.087 -1.155  0.113 -0.041  0.027
4      03D1co  0.678  24.078  0.098  0.619  0.404 -0.039  0.067
..        ...    ...     ...    ...    ...    ...    ...    ...
735  sn2007co  0.027  16.504  0.142 -0.138  0.061  0.105  0.020
736  sn2007cq  0.025  15.798  0.143 -0.658  0.116 -0.061  0.026
737   sn2007f  0.024  15.896  0.144  0.619  0.041 -0.055  0.026
738  sn2007qe  0.024  16.068  0.144  0.761  0.046  0.052  0.026
739  sn2008bf  0.022  15.719  0.145  0.431  0.069 -0.038  0.021

[740 rows x 8 columns]

The velocities file is in a much more convenient 'Comma Separated Values' (CSV) format which is easily readable with `pandas`.

In [3]:
velocities = pd.read_csv("exercise3_velocities.csv", index_col=0)
velocities

      velocity
0   278.229103
1   306.958437
2   292.341539
3   289.524745
4   286.327263
5   292.058458
6   305.372089
7   276.053052
8   289.865446
9   292.620614
10  293.794364
11  293.550129
12  273.007264
13  291.161110
14  293.743932
15  290.624222
16   54.602563
17  297.573997
18  298.522904
19  295.462639
20  297.699962
21  298.198573
22  299.476627
23  293.101345
24  289.427900
25  278.163689
26  302.234656
27  285.391104
28  283.054052
29  289.902285
30  296.300600
31  278.428806
32  282.703902
33  283.282641
34  300.210571
35  285.546030
36  286.713568
37  281.742348
38  287.320236
39  264.122950
40  305.587704
41  304.870953
42  280.148399
43  288.906932
44  320.101265
45  285.591115
46  283.929312
47  289.489169
48  278.001865
49  262.787140